body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

i.checkmark
  margin-top: -1.3em
  font-size: 1.5em
  margin-right: 0.2em

div.has-success i
  color: green

div.has-error i
  color: red

.row
  height: 1.8em

.header 
  height 2.5em
  
  & div
    text-decoration underline
    font-weight bold

.tuning
  margin-top 35px
  border 1px solid black
  width 60%
  padding-left 5%

  & .row
    margin-left 0px
    text-align center
    padding-right 10px
    
  & .list
    overflow-y scroll
    overflow-x hidden
    height 300px
  
input.form-control
  padding-right 6px